body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

form {
    text-align: center;
    margin: 20px 0;
}

input, textarea {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    max-width: 400px;
}

button {
    padding: 10px 20px;
    background-color: #ff69b4;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: white;
    margin: 10px 0;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
    color: #ff69b4;
    text-decoration: none;
}

.task-completed {
    color: #ff69b4;
    text-decoration: line-through; 
}